.container {
    max-width: 400px;
    padding: 20px;
    margin: 0 auto;
}

.title,
.subtitle {
    color: #e9e9e9;
    text-align: center;
}

.titleAccent {
    color: #000;
    background-color: #ff9204;
    width: 95px;
    border-radius: 3px;
    margin-left: 3px;
    padding: 0 3px;
}