.container {
    max-width: 50%;
    height: 100vh;
    display: block;
    padding: 20px;
    margin: 0 auto;
    background-color: #0d0c0c;
}

.title,
.subtitle {
    color: #04ff00;
    text-align: center;
    /* margin: 0 auto; */
}

.titleAccent {
    color: #000;
    background-color: #04ff00;
    width: 95px;
    border-radius: 3px;
    margin-left: 3px;
    padding: 0 3px;
}